
.main_container{
    position: relative;
}

.icono{
    position: absolute;
    right: 0;
    top: 5px;
    mat-icon{
        font-size: 50px;
    }
}


@media (max-width:1025px){
    .icono{
        right: 30px;
    }
}