<div class="principal flex flex-column align-items-center justify-content-center">
    
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="crop-image">
            <img src="assets/sebas.png" alt="imagen de fondo" class="sebas">
        </div>
        <div class="mainText">
            <h3>Bienvenido al aplicativo de la prueba técnica de IBM - Bancolombia</h3>

            <h5>A continuación podrás acceder a los módulos que hacen parte del aplicativo</h5>
        </div>
    </div>  

    <div class="botones">
        <button mat-raised-button color="primary" routerLink="/clientes">Ir al módulo de Clientes</button>
        <div class="spacer"></div>
        <button mat-raised-button color="accent" routerLink="/asesores">Ir al módulo de asesores</button>
    </div>      

</div>





