<h1>Módulo de Información de Tarjeta y Consumos</h1>

<div *ngIf="auxTarjeta">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h5>Número de la tarjeta:</h5>
    <p>{{infoTarjeta.numero | tc}}</p>
    </div>
    <div class="col-xs-12 col-lg-6">
     <h5>Tipo de la tarjeta:</h5>
    <p>{{infoTarjeta.tipo}}</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button mat-raised-button color="primary" (click)="abrirConsumo()">Agregar consumo</button>
  </div>
</div>

<div class="row mt-20" *ngIf="auxConsumo">

  <form [formGroup] = "formConsumo" class="w-100 flex">
    <div class="col-xs-12 col-md-4">
      <mat-form-field class="w-100">
        <input matInput formControlName="fecha" placeholder="Fecha">
    </mat-form-field>  
    </div>
    <div class="col-xs-12 col-md-4">
      <mat-form-field class="w-100">
        <input matInput formControlName="compra" placeholder="Compra">
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-4">
      <mat-form-field class="w-100">
        <input matInput formControlName="valor" placeholder="Valor">
      </mat-form-field>  
    </div>
  </form>

</div>


<div *ngIf="nConsumos.length>0" class="contenedorTabla">

  
  <table class="mat-elevation-z8">

    <tr class="cabecera">      
      <td>Fecha</td>
      <td>Compra</td>
      <td>Valor</td>      
      
    </tr>

    <tr *ngFor="let consumo of nConsumos">           
      <td>{{consumo.fecha}}</td>
      <td>{{consumo.compra}}</td>
      <td>{{consumo.valor}}</td>     
    </tr>  
   
  </table>

</div>

  